$COLOR_WHITE: #fff;
$COLOR_WHITE_OPACITY: rgba(255, 255, 255, 0.6);
$COLOR_BLACK: #000;
$COLOR_BLACK_OPACITY: rgba(0, 0, 0, .2);
$COLOR_GRAY: #eee;
$COLOR_GRAY_DARK: #757575;
$COLOR_BLUE: #0277BD;
$COLOR_RED: #FF3D00;