@use './mixin.scss';
@use './constants.scss' as *;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $COLOR_BLACK;

    @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;
    }
}
.app {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;

    @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;
    }
}
.timer {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 18px;
    background: $COLOR_WHITE_OPACITY;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 5px 0 $COLOR_BLACK_OPACITY;

    > span {
        margin-left: 10px;
    }
}
.shovelGauge {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 18px;
    background: $COLOR_WHITE_OPACITY;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 0 5px 0 $COLOR_BLACK_OPACITY;

    > span {
        margin-left: 10px;
    }
}
.gameOverBox {
    position: fixed;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: $COLOR_GRAY;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    flex-direction: column;
    padding: 20px;

    > *:not(:first-child) {
        margin-top: 40px;
    }
    .gameOverText {
        font-size: 24px;
        font-weight: bold;
        
        @include mixin.mediaMin() {
            font-size: 40px;
        }
    }

    &.is-active {
        animation: gameOver 1.8s ease-in-out 0s both;

        @keyframes gameOver {
            0% {
                bottom: 100%;
            }
            20% {
                bottom: 0%;
            }
            32% {
                bottom: 2%;
            }
            52% {
                bottom: 0%;
            }
            100% {
                bottom: 0;
            }
        }
    }
}
.gameMessage {
    font-size: 20px;
    text-shadow:
        -1px 0px 2px $COLOR_WHITE,
        1px  0 2px $COLOR_WHITE,
        0 1px 2px $COLOR_WHITE,
        0 -1px 2px $COLOR_WHITE;
    position: fixed;
    top: 50%;
    left: 50%;
    font-weight: bold;
    z-index: 2;
    white-space: nowrap;
    visibility: hidden;
    @include mixin.mediaMin() {
        font-size: 34px;
    }

    &.is-active {
        visibility: visible;
        animation: gameMessage 1.6s ease-in-out 0s both;

        @keyframes gameMessage {
            0% {
                left: 100%;
                opacity: 0;
                transform: translateY(-50%) translateX(-50%) skew(-35deg);
            }
            20% {
                transform: translateY(-50%) translateX(-50%) skew(-25deg);
            }
            30% {
                opacity: 1;
                left: 50%;
                transform: translateY(-50%) translateX(-50%) skew(0);
            }
            60% {
                opacity: 1;
                left: 50%;
                transform: translateY(-50%) translateX(-50%) skew(0);
            }
            70% {
                opacity: 1;
                left: 52%;
                transform: translateY(-50%) translateX(-50%) skew(0);
            }
            73% {
                left: 51%;
                transform: translateY(-50%) translateX(-50%)  skew(0);
            }
            100% {
                opacity: 0;
                left: 0;
                transform: translateY(-50%) translateX(-50%) skew(-10deg);
            }
        }
    }
}
.btnBox {
    width: 100%;

    > *:not(:first-child) {
        margin-top: 20px;
    }
}